@import url("../dist/css/bootstrap.min.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

/* halaman content */
.container {
  margin-left: 300px;
  width: 70rem;
  overflow: scroll;
  background: orange;
}
/* profile */
.profile {
  margin-left: 280px;
}
.ml-5 {
  margin-left: 20px;
}

.ml-5 img {
  border-radius: 50%;
}

/* login */
.form-group {
  margin: auto;
  width: 600px;
}

/* ubah warna  */
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
}

.container {
  text-align: center;
}

.btn {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
